NEXT_PUBLIC_SIMLI_API_KEY = "SIMLI-API-KEY"
ELEVENLABS_API_KEY = "ELEVENLABS-API-KEY"
NEXT_PUBLIC_SIMLI_FACE_ID = "SIMLI-FACE-ID"
NEXT_PUBLIC_ELEVENLABS_AGENT_ID = "ELEVENLABS-AGENT-ID"

// Rename this file from .env_sample to .env
